<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout :: head">
</head>
<body>
<div class="container-fluid">
    <h3>Management</h3>

    <!-- Create -->
    <a th:href="@{/customers/create-customer}" class="text-light">
        <button type="button" class="btn btn-success text-light">New</button>
    </a>

    <!-- Message -->
    <div class="notify">
        <div th:if="${message}">
            <span th:text="${message}" style="color: brown"></span>
        </div>
    </div>

    <!-- Table -->
    <form th:action="@{/customers/deleted}" method="post">
        <div class="form-group">
            <table id="customers">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th>CreateDate</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>DateOfBirth</th>
                    <th>Tel</th>
                    <th>Email</th>
                    <th>DeliveryAddress</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody th:if="${customers}">
                <tr th:each="row,rowStat : ${customers}" th:object="${row}">
                    <td><input type="checkbox" th:name="checkbox" th:value="*{customerNo}"></td>
                    <td><a th:href="@{/customers/view(customerCode=*{customerCode})}" th:text="*{customerCode}"></a></td>
                    <td th:text="*{customerCreateDate}"></td>
                    <td th:text="*{customerName}"></td>
                    <td th:text="*{customerAddress}"></td>
                    <td th:text="*{customerDateOfBirth}"></td>
                    <td th:text="*{customerTel}"></td>
                    <td th:text="*{customerEmail}"></td>
                    <td th:text="*{customerDeliveryAddress}"></td>
                    <td th:text="*{customerType.typeName}"></td>
                    <td>
                        <a th:href="@{/customers/update-customer(customerNo=*{customerNo})}">
                            <button type="button" class="btn btn-warning text-light">Update</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modelId">Delete</button>

            <!-- Modal -->
            <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirm Delete</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure confirm delete?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <footer th:replace="/customer/layout :: footer"></footer>
</div>
</body>
</html>