<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout :: head">
</head>
<body>
<nav th:replace="/customer/layout :: navbar"></nav>

<div class="container card" id="form" style="padding: 20px; margin-top: 20px; width: 40%">
    <form th:action="@{/customers/create}" th:object="${customer}" method="post" novalidate="novalidate"
          id="form-register">
        <h3>Add New</h3>
        <hr>

        <label>Code <span style="color: red;"> *</span></label>
        <div class="form-group">
            <input type="text" class="form-control" th:field="*{customerCode}"/>
            <span th:if="${#fields.hasErrors('customerCode')}" th:errors="*{customerCode}" style="color: red;"></span>
        </div>

        <label>Create Date<span style="color: red;"> *</span></label>
        <div class="form-group">
            <input type="date" class="form-control" th:field="*{customerCreateDate}"/>
            <span th:if="${#fields.hasErrors('customerCreateDate')}" th:errors="*{customerCreateDate}"
                  style="color: red;"></span>
        </div>

        <label>Name<span style="color: red;"> *</span></label>
        <div class="form-group">
            <input type="text" class="form-control" th:field="*{customerName}"/>
            <span th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}" style="color: red;"></span>
        </div>

        <label>DateOfBirth<span style="color: red;"> *</span></label>
        <div class="form-group">
            <input type="date" class="form-control" th:field="*{customerDateOfBirth}"/>
            <span th:if="${#fields.hasErrors('customerDateOfBirth')}" th:errors="*{customerDateOfBirth}"
                  style="color: red;"></span>
        </div>

        <label>Address<span style="color: red;"> *</span></label>
        <div class="form-group">
            <input type="text" class="form-control" th:field="*{customerAddress}"/>
            <span th:if="${#fields.hasErrors('customerAddress')}" th:errors="*{customerAddress}"
                  style="color: red;"></span>
        </div>

        <label>Telephone<span style="color: red;"> *</span></label>
        <div class="form-group">
            <input type="text" class="form-control" th:field="*{customerTel}"/>
            <span th:if="${#fields.hasErrors('customerTel')}" th:errors="*{customerTel}" style="color: red;"></span>
        </div>

        <label>Email<span style="color: red;"> *</span></label>
        <div class="form-group">
            <input type="text" class="form-control" th:field="*{customerEmail}"/>
            <span th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}" style="color: red;"></span>
        </div>

        <label>Delivery<span style="color: red;"> *</span></label>
        <div class="form-group">
            <input type="text" class="form-control" th:field="*{customerDeliveryAddress}"/>
            <span th:if="${#fields.hasErrors('customerDeliveryAddress')}" th:errors="*{customerDeliveryAddress}"
                  style="color: red;"></span>
        </div>

        <label>Type<span style="color: red;"> *</span></label>
        <div class="form-group">
            <select th:field="*{type}" class="form-control">
                <option th:each="t : ${types}"
                        th:text="${t.typeName}"
                        th:value="${t.typeNo}"></option>
            </select>
        </div>

        <button class="btn btn-danger btn-custom"><a th:href="@{/customers}" style="color: #dddddd">Back to list</a>
        </button>
        <button type="submit" class="btn btn-primary btn-custom" tabindex="12"><i class="fa fa-check"
                                                                                  aria-hidden="true"></i> Add
        </button>
    </form>
</div>

<footer th:replace="/customer/layout :: footer"></footer>
</body>
</html>