<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout :: head">
</head>
<body>
<h3>Management</h3>

<div class="container-fluid" id="form">
    <form th:action="@{/customers/create}" th:object="${customer}" method="post" novalidate="novalidate" id="form-register">
        <h3>UPDATE</h3>

        <div>
            <label>customerCode</label>
            <input type="text" th:field="*{customerCode}"/>
            <span th:if="${#fields.hasErrors('customerCode')}" th:errors="*{customerCode}"></span>
        </div>
        <div>
            <label>customerCreateDate</label>
            <input type="date" th:field="*{customerCreateDate}"/>
            <span th:if="${#fields.hasErrors('customerCreateDate')}" th:errors="*{customerCreateDate}"></span>

        </div>
        <div class="form-group">
            <label>customerName</label>
            <input type="text" th:field="*{customerName}"/>
            <span th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></span>
        </div>
        <div>
            <label>customerDateOfBirth</label>
            <input type="date" th:field="*{customerDateOfBirth}"/>
            <span th:if="${#fields.hasErrors('customerDateOfBirth')}" th:errors="*{customerDateOfBirth}"></span>
        </div>
        <div>
            <label>customerAddress</label>
            <input type="text" th:field="*{customerAddress}"/>
            <span th:if="${#fields.hasErrors('customerAddress')}" th:errors="*{customerAddress}"></span>
        </div>
        <div>
            <label>customerTel</label>
            <input type="text" th:field="*{customerTel}"/>
            <span th:if="${#fields.hasErrors('customerTel')}" th:errors="*{customerTel}"></span>
        </div>
        <div>
            <label>customerEmail</label>
            <input type="text" th:field="*{customerEmail}"/>
            <span th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}"></span>
        </div>
        <div>
            <label>customerDeliveryAddress</label>
            <input type="text" th:field="*{customerDeliveryAddress}"/>
            <span th:if="${#fields.hasErrors('customerDeliveryAddress')}" th:errors="*{customerDeliveryAddress}"></span>
        </div>
        <div>
            <label>customerType</label>
            <select th:field="*{type}">
                <option th:each="t : ${types}"
                        th:text="${t.typeName}"
                        th:value="${t.typeNo}"></option>
            </select>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>

<footer th:replace="/customer/layout :: footer"></footer>
</body>
</html>