<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Customers</h3>
<p>
    <a th:href="@{/customers/create}">
        Add new customer
    </a>
</p>

<table id="customers">
    <thead>
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${customers}">
        <td><a th:href="@{/customers/{no}/view(no=${row.getCustomerNo()})}" th:text="${row.getCustomerNo()}"></a></td>
        <td th:text="${row.getCustomerName()}"></td>
        <td th:text="${row.getCustomerEmail()}"></td>
        <td th:text="${row.getCustomerAddress()}"></td>
        <td><a th:href="@{/customers/{no}/update(no=${row.getCustomerNo()})}">update</a></td>
        <td><a th:href="@{/customers/{no}/delete(no=${row.getCustomerNo()})}">delete</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>