<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home/layout :: head">
</head>
<body>
<nav th:replace="/home/layout :: navbar"></nav>

<div class="container-fluid">
  <h3>Management</h3>

  <!-- Message -->
  <div th:if="${message}" class="notify">
    <span th:text="${message}" style="color: brown"></span>
  </div>

  <!-- Table -->
  <form th:action="@{/homeStays/delete}" method="post">
    <div class="form-group">

      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <!-- Create -->
          <a th:href="@{/homeStays/create}" class="btn btn-primary btn-custom">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add new
          </a>
          <!-- Button trigger modal -->
          <a type="button" class="btn btn-danger" data-toggle="modal" data-target="#modelId">
            <i class="fa-solid fa-trash-can"></i> Delete All
          </a>
        </tr>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Rent Date</th>
          <th>Payment</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody th:if="${homeStays}">
        <tr th:each="row,rowStat : ${homeStays}" th:object="${row}">
          <td><input type="checkbox" th:name="checkbox" th:value="*{no}"></td>
          <td th:text="*{name}"></td>
          <td th:text="*{phone}"></td>
          <td th:text="*{rentDate}"></td>
          <td th:text="*{payment.paymentName}"></td>
          <td>
            <a th:href="@{/homeStays/update(no=*{no})}">
              <button type="button" class="btn btn-warning text-light">Update</button>
            </a>
            <a>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modelId">
                Delete
              </button>
            </a>
          </td>
        </tr>
        </tbody>
      </table>

      <!-- Paging -->
      <div>
        <a th:if="${homeStays.hasPrevious()}"
           th:href="@{'/homeStays'(page=${homeStays.number})}">Previous</a>
        <span th:text="${homeStays.number + 1}"></span>/<span th:text="${homeStays.totalPages}"></span>
        <a th:if="${homeStays.hasNext()}" th:href="@{'/homeStays'(page=${homeStays.number + 2})}">Next</a>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirm Delete</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure confirm delete?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <footer th:replace="/home/layout :: footer"></footer>
</div>
</body>
</html>