<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout :: head">
</head>
<body>
<div id="form">
    <form action="#" th:action="@{/customers/created}" th:object="${customer}" method="post" novalidate="novalidate">
        <div>
            <label>customerNo</label>
            <input type="text" th:field="*{customerNo}"/>
        </div>
        <div>
            <label>customerName</label>
            <input type="text" th:field="*{customerName}"/>
        </div>
        <div>
            <label>customerBirthDay</label>
            <input type="text" th:field="*{customerBirthDay}"/>
        </div>
        <div>
            <label>customerTel</label>
            <input type="text" th:field="*{customerTel}"/>
        </div>
        <div>
            <label>customerEmail</label>
            <input type="text" th:field="*{customerEmail}"/>
        </div>
        <div>
            <label>customerAddress</label>
            <input type="text" th:field="*{customerAddress}"/>
        </div>
        <div>
            <label>customerDeliveryAddress</label>
            <input type="text" th:field="*{customerDeliveryAddress}"/>
        </div>
        <div>
            <label>customerTaxIndent</label>
            <input type="text" th:field="*{customerTaxIndent}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/customer/layout :: footer"></footer>
</body>
</html>